<div class="answer p-20">
  <div class="d-flex justify-content-between">
    <div class="user-info">
      <div>
        <img src="https://i.pravatar.cc/300" alt="" class="profile-pic-sm" />
        <span class="ml-3">{{ answer.userName }}</span>
        <span class="ml-3 text-muted fnt-12">3 Hrs Ago</span>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <button class="btn mr-1 btn-response">
        <fa-icon [icon]="thumbsUp" class="like"></fa-icon>
        <span class="mr-2">{{ answer.likeCount }}</span>
      </button>

      <button class="btn mr-1 btn-response">
        <fa-icon [icon]="thumbsDown" class="dislike"></fa-icon>
        <span>{{ answer.dislikeCount }}</span>
      </button>
    </div>
  </div>
  <p class="mt-20 fnt-14">{{answer.content}}</p>
  <div class="d-flex align-items-center">
    <div class="checkbox d-inline-block">
      <input
        type="checkbox"
        name="checkbox1"
        id="checkbox1"
        class="child-checkbox"
      />
      <label for="checkbox1"></label>
    </div>
    <span class="ml-2">Mark as solution</span>
  </div>
</div>
