<div class="search-form-container">
    <form [formGroup]="searchForm" class="search-form">
        <div class="form-input user-search">
            <label for="">Users</label>
            <div class="search-bar">
              <fa-icon [icon]="faSearch"></fa-icon>
              <input type="text" name="" id="" placeholder="Search" />
            </div>
          </div>
    </form>
</div>
<div class="users-content p-20">
    <div class="standard-grid">
        <div class="user-card ">
            <div class="user-card-content p-20">
                <div class="user-card-head d-flex">
                    <img 
                    class="profile-pic-lg"
                    src="https://i.pravatar.cc/300"
                    alt="">
                    <div class="user-data ml-3">
                        <h5>Jhon Doe</h5>
                        <span class="text-muted fnt-14 mt-1 d-block">Role</span>
                        <span class="text-muted fnt-14">Location</span>
                        <div class="d-flex align-items-center mt-2">
                            <fa-icon [icon]="thumbsUp" class="mr-1"></fa-icon>
                            <span class="mr-4">20</span>
                            <fa-icon [icon]="thumbsDown" class="dislike mr-1"></fa-icon>
                            <span>30</span>
                          </div>
                    </div>
                   
                </div>
            </div>
            <div class="user-card-footer">
                <div class="user-stat">
                    <span>12</span>
                    <span class="d-block text-muted fnt-12">Questions Asked</span>
                </div>
                <div class="user-stat">
                    <span>12</span>
                    <span class="d-block text-muted fnt-12">Questions Answered</span>
                </div>
                <div class="user-stat">
                    <span>12</span>
                    <span class="d-block text-muted fnt-12">Questions Solved</span>
                </div>
            </div>
        </div>
        <div class="user-card ">
            <div class="user-card-content p-20">
                <div class="user-card-head d-flex">
                    <img 
                    class="profile-pic-lg"
                    src="https://i.pravatar.cc/300"
                    alt="">
                    <div class="user-data ml-3">
                        <h5>Jhon Doe</h5>
                        <span class="text-muted fnt-14 mt-1 d-block">Role</span>
                        <span class="text-muted fnt-14">Location</span>
                        <div class="d-flex align-items-center mt-2">
                            <fa-icon [icon]="thumbsUp" class="mr-1"></fa-icon>
                            <span class="mr-4">20</span>
                            <fa-icon [icon]="thumbsDown" class="dislike mr-1"></fa-icon>
                            <span>30</span>
                          </div>
                    </div>
                   
                </div>
            </div>
            <div class="user-card-footer">
                <div class="user-stat">
                    <span>12</span>
                    <span class="d-block text-muted fnt-12">Questions Asked</span>
                </div>
                <div class="user-stat">
                    <span>12</span>
                    <span class="d-block text-muted fnt-12">Questions Answered</span>
                </div>
                <div class="user-stat">
                    <span>12</span>
                    <span class="d-block text-muted fnt-12">Questions Solved</span>
                </div>
            </div>
        </div>
        <div class="user-card ">
            <div class="user-card-content p-20">
                <div class="user-info d-flex">
                    <img 
                    class="profile-pic-lg"
                    src="https://i.pravatar.cc/300"
                    alt="">
                    <div class="user-data ml-3">
                        <h5>Jhon Doe</h5>
                        <span class="text-muted fnt-14 mt-1 d-block">Role</span>
                        <span class="text-muted fnt-14">Location</span>
                        <div class="d-flex align-items-center mt-2">
                            <fa-icon [icon]="thumbsUp" class="mr-1"></fa-icon>
                            <span class="mr-4">20</span>
                            <fa-icon [icon]="thumbsDown" class="dislike mr-1"></fa-icon>
                            <span>30</span>
                          </div>
                    </div>
                </div>
            </div>
            <div class="user-card-footer">
                <div class="user-stat">
                    <span>12</span>
                    <span class="d-block text-muted fnt-12">Questions Asked</span>
                </div>
                <div class="user-stat">
                    <span>12</span>
                    <span class="d-block text-muted fnt-12">Questions Answered</span>
                </div>
                <div class="user-stat">
                    <span>12</span>
                    <span class="d-block text-muted fnt-12">Questions Solved</span>
                </div>
            </div>
        </div>
    </div>
</div>