<nav class="d-flex justify-content-between">
  <a href="" class="logo">
    <div class="logo h-100 d-flex justify-content-center align-items-center">
      <img src="../../assets/keka_logo.png" alt="" class="logo-img" />
    </div>
  </a>
  <div class="profile-controls d-flex align-items-center">
    <span class="current-date">{{getCurrentDate()}}</span>
    <img src="../../assets/sun_logo.png" alt="" class="sun-img">
    <div class="d-inline-block" *ngIf="loggedIn">
      <button class ="btn text-white mr-3" (click)="logout()">Logout</button>
      <span class="user-name mr-3">{{userName}}</span>
      <img
        src="https://i.pravatar.cc/300
      "
        alt=""
        class="profile-pic"
      />
    </div>
    <button class="btn text-white" *ngIf="loggedIn==false" (click)="login()">
      Login
    </button>
   
  </div>
</nav>
