<app-nav></app-nav>
<div class="preloader" *ngIf="showPreloader">
    <div class="preloader-content">
      <img src="../assets/logo.svg" alt="">
      
      <h5 class="mt-4 text-white" >Loading..</h5>
      <div>
        <progressbar class="progress-striped active"  [value]="100"></progressbar>
      </div>
    </div>
</div>
<div class="grid">
  <div class="side-bar">
    <div class="forum side-bar-nav">
      <img src="../../assets/forum_logo.png" alt="" class="side-bar-logos" />
      <span>Forum</span>
    </div>
  </div>
  <div class="content">
    <div class="sections-nav">
      <app-sections-nav></app-sections-nav>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

