<div class="search-form-container">
  <form [formGroup]="searchForm" class="w-100 h-100 search-form">
    <div class="keywords form-input">
      <label for="">Keywords</label>
      <div class="search-bar">
        <fa-icon [icon]="faSearch"></fa-icon>
        <input
          type="text"
          name=""
          id=""
          placeholder="Search"
          formControlName="searchInput"
        />
      </div>
    </div>
    <div class="category form-select ml-3">
      <label for="">Category</label>
      <app-keka-select
        [formGroup]="searchForm"
        [controlName]="'category'"
        [categoryOptions]="categoryOptions"
      ></app-keka-select>
    </div>
    <div class="show form-select ml-3">
      <label for="">Show</label>
      <ng-select [(ngModel)]="showSelected"  [searchable]="false" formControlName="show">
        <ng-option
          *ngFor="let i of showOptions; let k = index"
          value= {{k}}
          >{{ k }}</ng-option
        >
      </ng-select>
    </div>
    <div class="recent form-select ml-3">
      <label for="">Sort By</label>
      <ng-select [(ngModel)]="showSelected"  [searchable]="false" formControlName="sortBy">
        <ng-option
          *ngFor="let i of sortByOptions; let k = index"
          value= {{k}}
          >{{ i }}</ng-option
        >
      </ng-select>
    </div>
    <div class="recent form-reset">
      <button class="reset-btn btn ml-2" (click)="searchForm.reset()">
        <fa-icon [icon]="faRedo"></fa-icon>Reset
      </button>
      <button class="btn btn-question" (click)="openModal(template)">
        <fa-icon [icon]="faPlus"></fa-icon>
        Question
      </button>
    </div>
  </form>
</div>
<div class="home-container">
  <div class="home-grid">
    <div class="home-questions">
      <app-question
        class="d-block app-question"
        [ngClass]="{ 'current-question': currentQuestion == i }"
        *ngFor="let i of showQuestions"
        [question]="i"
        (click)="viewQuestion(i)"
      ></app-question>
    </div>
    <div class="home-answer-panel">
      <ng-container *ngIf="currentQuestion != null">
        <app-answer-panel [question]="currentQuestion"></app-answer-panel>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Question</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-20">
    <form [formGroup]="newQuestionForm">
      <div class="form-input modal-form-input">
        <label for="">Question</label>
        <div class="input-bar">
          <input
            type="text"
            name=""
            id=""
            placeholder="Enter your question"
            formControlName="title"
          />
        </div>
      </div>
      <div class="mt-3 form-input">
        <label for="">Discription</label>
        <div class="new-question-desc">
          <app-editor
            [formGroup]="newQuestionForm"
            [controlName]="'content'"
          ></app-editor>
        </div>
      </div>
      <div class="form-select new-question-select mt-3">
        <label for="">Category</label>
        <app-keka-select
          [formGroup]="newQuestionForm"
          [controlName]="'questionCategory'"
          [categoryOptions]="categoryOptions"
        ></app-keka-select>
      </div>
    </form>
    <div class="d-flex justify-content-end mt-4">
      <button class="btn btn-cancel mr-2" (click)="modalRef.hide()">
        Cancel
      </button>
      <button class="btn btn-post" (click)="createQuestion()">Post</button>
    </div>
  </div>
</ng-template>
