<div class="search-form-container">
  <form [formGroup]="searchForm" class="w-100 h-100 search-form">
    <div class="keywords form-input">
      <label for="">Keywords</label>
      <div class="search-bar">
        <fa-icon [icon]="faSearch"></fa-icon>
        <input type="text" name="" id="" placeholder="Search" />
      </div>
    </div>
    <div class="category form-select">
      <label for="">Category</label>
      <app-keka-select
        [formGroup]="searchForm"
        [controlName]="'category'"
      ></app-keka-select>
    </div>
    <div class="show form-select">
      <label for="">Show</label>
      <app-keka-select
        [formGroup]="searchForm"
        [controlName]="'show'"
      ></app-keka-select>
    </div>
    <div class="recent form-select">
      <label for="">Sort By</label>
      <app-keka-select
        [formGroup]="searchForm"
        [controlName]="'sortBy'"
      ></app-keka-select>
    </div>
    <div class="recent form-reset">
      <button class="reset-btn btn">
        <fa-icon [icon]="faRedo"></fa-icon>Reset
      </button>
      <button class="btn question-btn">
        <fa-icon [icon]="faPlus"></fa-icon>
        Question
      </button>
    </div>
  </form>
</div>
<div class="home-container">
  <div class="home-grid">
    <div class="home-questions">
      <app-question></app-question>
    </div>
    <div class="home-answer-panel">
      <div class="view-answer">
        <div class="d-flex justify-content-between">
          <div class="user-info">
            <div>
              <img
                src="https://i.pravatar.cc/300"
                alt=""
                class="profile-pic-sm"
              />
              <span class="ml-3">Samantha</span>
              <span class="ml-3 text-muted fnt-12">3 Hrs Ago</span>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <img src="../../assets/report.png" alt="" class="report-img" />
            <span class="ml-2 fnt-14">Report this</span>
          </div>
        </div>
        <p class="mt-20">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero explicabo accusantium mollitia incidunt id libero, 
        </p>
        <p class="text-muted mt-2 fnt-14">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero explicabo accusantium mollitia incidunt id libero, 
        </p>
      </div>
      <div class="answer-count">
        <span>Answers (3)</span>
      </div>
    </div>
  </div>
</div>
