<div class="search-form-container">
  <form [formGroup]="searchForm" class="w-100 h-100 search-form">
    <div class="keywords form-input">
      <label for="">Keywords</label>
      <div class="search-bar">
        <fa-icon [icon]="faSearch"></fa-icon>
        <input type="text" name="" id="" placeholder="Search" />
      </div>
    </div>
    <div class="category form-select ml-3">
      <label for="">Category</label>
      <app-keka-select
        [formGroup]="searchForm"
        [controlName]="'category'"
        [options]="categoryOptions"
      ></app-keka-select>
    </div>
    <div class="show form-select ml-3">
      <label for="">Show</label>
      <app-keka-select
        [formGroup]="searchForm"
        [controlName]="'show'"
        [options]="showOptions"
      ></app-keka-select>
    </div>
    <div class="recent form-select ml-3">
      <label for="">Sort By</label>
      <app-keka-select
        [formGroup]="searchForm"
        [controlName]="'sortBy'"
        [options]="sortByOptions"
      ></app-keka-select>
    </div>
    <div class="recent form-reset">
      <button class="reset-btn btn ml-2">
        <fa-icon [icon]="faRedo"></fa-icon>Reset
      </button>
      <button class="btn btn-question" (click)="openModal(template)">
        <fa-icon [icon]="faPlus"></fa-icon>
        Question
      </button>
    </div>
  </form>
</div>
<div class="home-container">
  <div class="home-grid">
    <div class="home-questions">
      <app-question></app-question>
    </div>
    <div class="home-answer-panel">
      <div class="view-answer">
        <div class="d-flex justify-content-between">
          <div class="user-info">
            <div>
              <img
                src="https://i.pravatar.cc/300"
                alt=""
                class="profile-pic-sm"
              />
              <span class="ml-3">Samantha</span>
              <span class="ml-3 text-muted fnt-12">3 Hrs Ago</span>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <img src="../../assets/report.png" alt="" class="answer-icons" />
            <span class="fnt-14">Report this</span>
          </div>
        </div>
        <p class="mt-20">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero
          explicabo accusantium mollitia incidunt id libero,
        </p>
        <p class="text-muted mt-2 fnt-14">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero
          explicabo accusantium mollitia incidunt id libero,
        </p>
      </div>
      <div class="answer-count">
        <span>Answers (3)</span>
      </div>
      <div class="d-flex flex-column justifiy-content-between">
        <div class="answers">
          <div class="answer p-20">
            <div class="d-flex justify-content-between">
              <div class="user-info">
                <div>
                  <img
                    src="https://i.pravatar.cc/300"
                    alt=""
                    class="profile-pic-sm"
                  />
                  <span class="ml-3">Samantha</span>
                  <span class="ml-3 text-muted fnt-12">3 Hrs Ago</span>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <button class="btn mr-1 btn-response">
                  <fa-icon [icon]="thumbsUp" class=" like"></fa-icon>
                  <span class="mr-2">20</span>
                </button>

                <button class="btn mr-1 btn-response">
                  <fa-icon [icon]="thumbsDown" class="dislike "></fa-icon>
                  <span>30</span>
                </button>
           
              </div>
            </div>
            <p class="mt-20 fnt-14">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
              at facere eos voluptates atque ea vel culpa sunt, eius debitis
              minima qui quia natus! Tempora similique sapiente minima laborum
              nobis.
            </p>
            <div class="d-flex align-items-center">
              <div class="checkbox d-inline-block">
                <input
                  type="checkbox"
                  name="checkbox1"
                  id="checkbox1"
                  class="child-checkbox"
                />
                <label for="checkbox1"></label>
              </div>
              <span class="ml-2">Mark as solution</span>
            </div>
          </div>
        </div>
        <div class="editor">
          <div class="big-editor">
            <div class="big-editor-head d-flex align-items-center justify-content-end">
              <button class="btn big-editor-close"><fa-icon [icon]="faCompressAlt"></fa-icon></button>
            </div>
            <div class="big-editor-container">
              <app-editor></app-editor>
              <button class="btn">
                <img src="../../assets/send-plane.svg" alt="" class="big-editor-save">
              </button>
            </div>
          </div>
          <div class="mini-editor">
            <button class="btn editor-expand">
              <fa-icon [icon]="faExpandAlt"></fa-icon>
            </button>
            <app-editor class="editor-mini"></app-editor>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Question</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-20">
    <form [formGroup]="newQuestionForm">
      <div class="form-input modal-form-input">
        <label for="">Question</label>
        <div class="input-bar">
          <input type="text" name="" id="" placeholder="Enter your question" />
        </div>
      </div>
      <div class="mt-3 form-input">
        <label for="">Discription</label>
        <div class="new-question-desc">
          <app-editor></app-editor>
        </div>
      </div>
      <div class="form-select new-question-select mt-3">
        <label for="">Category</label>
        <app-keka-select
          [formGroup]="newQuestionForm"
          [controlName]="'questionCategory'"
          [options]="categoryOptions"
        ></app-keka-select>
      </div>
    </form>
    <div class="d-flex justify-content-end mt-4">
      <button class="btn btn-cancel mr-2"  (click)="modalRef.hide()">Cancel</button>
      <button class="btn btn-post">Post</button>
    </div>
  </div>
</ng-template>
