<div class="question-card">
    <div class="question-flag">

    </div>
    <div class="question-card-grid">
        <div class="d-flex flex-column align-items-center pt-1">
            <img
            src="https://i.pravatar.cc/300
          "
            alt=""
            class="profile-pic-sm mb-3"
          />
          <button class="btn" (click)="upvote()"> 
              <fa-icon [icon]="faChevronUp" class="text-muted"></fa-icon>
          </button>
          <span>{{question.likeCount}}</span>
        </div>
        <div class="question">
            <h5>{{question.questionTitle}}</h5>
            <p class="text-muted question-content">
                {{question.content}}
            </p>
            <div class="mt-4 d-flex align-items-center justify-content-between">
                <div>
                    <fa-icon [icon]="faEye" class="text-muted"></fa-icon> <span class="question-views ml-1 text-muted">{{question.viewCount}} Views</span>
                    <span class="question-ans-count">{{question.answerCount}} Answers</span>
                </div>
                <div>
                    <span class="text-muted" class="question-time">{{timeAgo}}</span>
                </div>
              
            </div>
        </div>
    </div>
</div>